:root {
--header: #355070ff;
--forecast: #826A91;
--f-hover: #c8bfe7ff;
--search: #b56576ff;
--s-hover: #e56b6fff;
--history: #FFD4DA;
--h-hover: #FFECEF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h2 {
    font-weight: 600;
    padding: 4px;
}


aside {
    width: 24%;
}

p {
    text-align: center;
}

.container {
    margin: 0 35px;
}

.navbar {
    color: white;
    margin: .5rem auto;
    min-height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--header);
}

.search-card {
    margin: 0;
    text-align: center;
    border-bottom: dashed 1px gray;
    padding-bottom: 10px;
}

.current-weather-card {

}

.search-confirm {
    width: 80%;
    margin: 10px 0 0 0 ;
    padding: 6px 0 0 0;
    border-radius: 10px;
    background-color: var(--search);
}

.search-confirm:hover {
    background-color: var(--s-hover);
    cursor: pointer;
}

.search-options {
    width: 80%;
    height: 32px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--history);
}

.search-options:hover {
    cursor: pointer;
    background-color: var(--h-hover);
}

.search-history {
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
}

.forecast {
    background-color: var(--forecast);
}

.weather {
    border: dotted 2px black;
    width: 75%;
}

#main-body {
    display: flex;
    justify-content: space-between;
}

#user-input {
    width: 80%;
    height: 32px;
    padding: 0 0 0 4px;
    border-radius: 10px;
}
